.navbar {
    font-size: 18px;
}
@media (min-width: 768px){
    .navbar-nav>li>a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
}
}
.navbar-brand {
    float: left;
    padding: 19.5px 15px;
    font-size: 19px;
    line-height: 21px;
    height: 60px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

footer .container {
  width: auto;
  max-width: 1170px;
  padding: 0 15px;
}
footer .container .text-muted {
  margin: 20px 0;
}

/*Front Page*/
.me-pic{
  border-radius: 50%;
  max-width: 175px;
  /*border: 5px solid #18bc9c;*/
  display: block;
  margin: 1em auto 1em;
  position: relative;
}
.content{
  margin-top: 25px;
  font-size: 18px;
  line-height: 1.5;
}

.sidebar{
  margin-top: 25px;
}

.title a{
  text-decoration: none;
}

.read-more{
  text-decoration: underline;
}

.read-more-top{
  margin-top: 10.5px;
}

.post-body{
  border-top: solid 1px #eee;
  padding-top: 15px;
}

.img-center{
  margin-right: auto;
  margin-left: auto;
}


#dynatable-query-search-posts{
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dce4ec;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#dynatable-per-page-posts{
  display: block;
  width: 200px;
  height: 45px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dce4ec;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
